<template>
    <div class="conti">
        <pulse-loader v-if="loader"></pulse-loader>
    </div>
    <div class="bg-lg-grey"></div>
    <div class="card card-form mx-auto" style="width: 26%" v-if="editResult == null">
        <div class="card-header">
            Edit Info
        </div>
        <div class="card-body">
            <form ref="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" :value="currData.first_name + ' ' + currData.last_name" disabled>
                </div>
                <div class="form-group">
                    <label for="job">Job</label>
                    <input id="job" class="form-control" type="text" v-model="job">
                </div>
            </form>
            <div>
                <button @click="goBack(currData.id)" class="btn btn-secondary m-2">CANCEL</button>
                <button @click="submitForm(currData.id)" class="btn btn-danger m-2">SUBMIT</button>
            </div>
        </div>
    </div>

    <div class="card card-update mx-auto" style="width: 26%;" v-if="editResult != null">
        <img class="card-img-top" style="width: 100%; height: auto" :src="currData.avatar">
        <div class="card-body">
            <div class="m-2">
                <span class="label">Email: </span>
                <span class="desc">{{ currData.email }}</span>
            </div>
            <div class="m-2">
                <span class="label">Name: </span>
                <span class="desc m-1">{{ editResult.first_name }}</span>
                <span class="desc m-1">{{ editResult.last_name }}</span>
            </div>
            <div class="m-2">
                <span class="label">Job: </span>
                <span class="desc">{{ editResult.job ? editResult.job : '-' }}</span>
            </div>
            <div class="m-2">
                <span class="label">Update At: </span>
                <span class="desc">{{ date }}</span>
            </div>
            <a @click="goBack(currData.id)" class="btn btn-primary">Back</a>
        </div>
    </div>
</template>

<script>
import router from "@/router";
import DataServices from '@/services/DataServices';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

const dataService = new DataServices();

export default {
    name: "EditUser",
    components: {
        PulseLoader
    },
    data() {
        return {
            currData: [],
            loader: false,
            editResult: null,
            job: '',
            date: ''
        };
    },
    methods: {
        goBack(id) {
            router.push({ path: '/viewUser/' + id })
        },
        async submitForm(id) {
            this.loader = true
            let tempObj = {
                first_name: this.currData.first_name,
                last_name: this.currData.last_name,
                job: this.job
            }

            try {
                const res = await dataService.updateUser(id, tempObj)
                this.loader = false;
                this.editResult = res.data
                let tempDate = new Date(res.data.updatedAt)
                this.date =  tempDate.toString()
            } catch (error) {
                Swal.fire({
                    text: error.message,
                    icon: 'error'
                })
            }
        }
    },
    async mounted() {
        try {
            const response = await dataService.getUserById(this.$route.params.id)
            this.currData = response.data.data
        } catch (error) {
             Swal.fire({
                text: error.message,
                icon: 'error'
            })
        }
    }
}
</script>

<style scoped>
.conti {
    position: fixed;
    top: 10%;
    left: 45%;
}

.bg-lg-grey {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-form {
    position: fixed;
    top: 150px;
    left: 37%;
}

.card-update {
    position: fixed;
    top: 80px;
    left: 38%;
}

.label {
  font-size: 12px;
  font-weight: 600;
}

.desc {
  font-weight: 600;
  font-size: 14px;
}
</style>
