<template>
  <pulse-loader v-if="loader"></pulse-loader>
  <div class="card mx-auto" style="width: 20%;" v-if="!loader">
  <img class="card-img-top" style="width: 100%; height: auto" :src="currData.avatar">
  <div class="card-body">
    <div class="m-2">
      <span class="label">Email: </span>
      <span class="desc">{{ currData.email }}</span>
    </div>
    <div class="m-2">
      <span class="label">Name: </span>
      <span class="desc m-1">{{ currData.first_name }}</span>
      <span class="desc m-1">{{ currData.last_name }}</span>
    </div>
    <a @click="editUser(currData.id)" class="btn btn-primary">Update Info</a>
  </div>
</div>
<router-view/>
</template>

<script>
import router from "@/router";
import DataServices from '@/services/DataServices';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

const dataService = new DataServices();

export default {
  name: "ViewUser",
  components: {
    PulseLoader
  },
  data() {
    return {
      currData: [],
      loader: true
    };
  },
  methods: {
    async initData() {
      try {
        const response = await dataService.getUserById(this.$route.params.id)
        this.loader = false;
        this.currData = response.data.data
      } catch (error) {
        this.loader = false;
        Swal.fire({
          text: error.message,
          icon: 'error'
        })
      }
        
    },
    editUser(id) {
      router.push({ path: '/editUser/' + id })
    }
  },
  mounted() {
    this.initData()
  }
}
</script>

<style scoped>
.label {
  font-size: 12px;
  font-weight: 600;
}

.desc {
  font-weight: 600;
  font-size: 14px;
}
</style>