<template>
    <div class="head m-2 bg-dark">
        <router-link to="/"><i class="fa-solid fa-house m-3 text-secondary" style="font-size: 30px"></i></router-link>
    </div>
</template>

<script>

export default {
    name: 'Header'
}
</script>

<style scoped>
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
    }
</style>