<template>
  <pulse-loader :loading="loader" v-if="loader"></pulse-loader>
  <div class="conti" v-if="!loader">
    <div class="card mx-auto" style="width: max-content; border: none">
      <div class="card-header bg-dark">
        <span class="text-secondary" style="font-size: 14px; font-weight: 600">User List</span>
      </div>
      <div class="card-body card-inner p-2" style="background-color: #BCBCBC">
        <div class="d-flex align-items-center justify-content-between my-2 rowd" v-for="data in currData" :key="data.id">
          <div :class="{ 'flex-right' : data.id % 2 == 0, 'flex-left' : data.id % 2 != 0 }"><img style="width: 180px; height: auto" :src="data.avatar" /></div>
          <div :class="{ 'flex-left' : data.id % 2 == 0, 'flex-right' : data.id % 2 != 0 }" class="px-2">
            <div class="mt-2">
              <span class="label">Email: </span>
              <span class="desc">{{ data.email }}</span>
            </div>
            <div class="mt-2">
              <span class="label" style="font-size: 12px; font-weight: 600; color: #6B6A6A">Name: </span>
              <span class="desc">{{ data.first_name }}</span><span class="desc ms-1">{{ data.last_name }}</span>
            </div>
            <div class="mt-2">
              <span class="m-2 cursor-pointer" @click="viewUser(data.id)"><i class="fa-solid fa-eye text-primary"></i></span>
              <span class="m-2 cursor-pointer" @click="deleteUser(data.id)"><i class="fa-solid fa-trash text-danger"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import router from "@/router";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

import DataServices from '@/services/DataServices';

const dataService = new DataServices();

export default {
  name: "UserTable",
  components: {
    PulseLoader
  },
  data() {
    return {
      currData: null,
      loader: true
    };
  },
  methods: {
    async initData() {
      try {
        let page1 = dataService.getAllUser(1);
        let page2 = dataService.getAllUser(2);

        const datas = await axios.all([page1, page2])

        const combinedDatas = datas.reduce((acc, val) => {
          return [...acc, ...val.data.data]
        }, [])

        this.loader = false;
        this.currData = combinedDatas
      } catch (error) {
        this.loader = false;
        Swal.fire({
          text: error.message,
          icon: 'error'
        })
      }
    },
    viewUser(userId) {
      router.push({ name: 'viewUser', params: { id: userId } })
    },
    async deleteUser(id) {
      try {
        const response = await dataService.getUserById(id)
        Swal.fire({
          title: 'Are you sure want to delete ' + response.data.data.first_name + '?',
          text: "You won't be able to revert this!",
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then(async (result) => {
          if (result.isConfirmed) {
            this.loader = true
            const res = await dataService.deleteUser(id)
            if(res.status == 204) {
              this.loader = false
              Swal.fire(
                'Deleted!',
                response.data.data.first_name + ' has been deleted.',
                'success'
              )
            }
          }
        })
      } catch (error) {
        this.loader = false;
        Swal.fire({
          text: error.message,
          icon: 'error'
        })
      }
        
    }
  },
  beforeMount() {
  },
  mounted() {
    this.initData();
  }
}
</script>

<style scoped>
.conti {
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 0;
  left: 0;
};

.card-inner::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-inner {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.card {
  height: calc(100% - 10px);
}

.card-inner {
  max-height: 100%;
  overflow-y: scroll;
}

.rowd:nth-child(even) {
  background: #F4F4F4;
}
.rowd:nth-child(odd) {
  background: #E3E0E0;
}

.flex-left {
  order: 1;
}

.flex-right {
  order: 2;
}

.label {
  font-size: 12px;
  font-weight: 600;
}

.desc {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}
</style>